body, html {
  height: 100%;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

.hero-section.purple-section {
  font-family: Roboto, sans-serif;
  color: white;
}

.white-section {
  font-family: Roboto, sans-serif;
  color: #434146;
  font-size: 14px;
  line-height: 1.8;
}

div {
  display: block;
}

.container.w-container {
  height: 90%;
}

.hero-section.purple-section {
  min-height: 700px;
  padding-top: 83px;
  padding-bottom: 60px;
  border: 0px none transparent;
  border-radius: 0px;
  background-color: #331a5c;
  background-image: url(./PhotosUsed/kastbackground.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

img {
  width: 610px;
  height: 356.84px;
}